 <div class="mx-auto mt-6 mb-0 rounded-2xl px-4 space-y-20 lg:mt-0 lg:space-y-10 py-4">

     <article class="flex flex-col gap-8 lg:flex-row">
 
         <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64  lg:max-h-48 lg:shrink-0"> 
             <a class="no-underline mb-0" href="{{ .RelPermalink }}">   
             {{ $image := resources.Get (printf "%s" .Params.image) }}
             {{ with $image }}
             
             <img src="{{ ( $image.Fill "1000x500 top webp q80" ).RelPermalink }}"  height="192" width="256" class="absolute inset-0 h-full w-full rounded-xl bg-skin-base object-fill" alt="{{ .Params.img_desc }}" loading="lazy">
            </a>
             {{ end }}
         </div>

         <div class="px-8">
            <a class="no-underline mb-0" aria-label="{{ .Title }}" href="{{ .RelPermalink }}"> 
             <h3 class="md:mt-4 lg:mt-8 capitalize font-black text-xl">
                {{ .Title }}
             </h3>
             <h4 class="capitalize text-primary font-bold text-base">
                {{ .LinkTitle }} 
             </h4>
             <p class="mt-2 capitalize">
                 {{ .Summary }}
             </p> 
            </a>
         </div>

     </article>
 </div>