<td class="bg-blue-200">
<span class="capitalize text-xs">{{ .Title }} </span>
</td>
<td class="">
  <a class="capitalize" href="{{ .RelPermalink }}">
 <span class="text-red-500">{{ .LinkTitle }} </span></a>
</td>
<td class="">
<span class=" capitalize">{{ .Params.numberindex }} </span>
</td>
<td class="">
<span class="text-blue-500 capitalize">{{ .Params.mmdd }} </span>
</td>
<td class="">
<span class="text-orange-500 capitalize">{{ .Params.month }} </span>
</td>
<td class="">
<span class="text-red-500 capitalize">{{ .Params.dd }} </span>
</td>
<td class="">
<span class="text-blue-500 capitalize">{{ .Params.yyyy }} </span>
</td>
<td class="bg-red-200">
<span class="text-white-500 capitalize">{{ .Params.categories }} </span>
</td>
<td class="bg-yellow-200">
<span class="text-green-500 capitalize">{{ .Params.tags }} </span>
</td>
