<td class="bg-blue-200 text-xs">
  <a class="capitalize" href="{{ .RelPermalink }}">
 <span class="font-bold">{{ .LinkTitle }} </span></a>
</td>
<td class="">
<span class="text-red-500 capitalize">{{ .Params.links }} </span>
</td>
<td class="">
<span class="text-blue-500 capitalize">{{ .Params.Continents }} </span>
</td>
<td class="">
<span class="text-orange-500 capitalize">{{ .Params.Countries }} </span>
</td>
<td class="">
<span class="text-red-500 capitalize">{{ .Params.States }}{{ .Params.Provinces }}  </span>
</td>
<td class="">
<span class="text-blue-500 capitalize">{{ .Params.County }} </span>
</td>
<td class="">
<span class="text-green-500 capitalize">{{ .Params.City }} </span>
</td>
<td class="bg-red-200">
<span class="text-white-500 capitalize">{{ .Params.categories }} </span>
</td>
<td class="bg-yellow-200">
<span class="text-green-500 capitalize">{{ .Params.tags }} </span>
</td>

