<div class="bg-yellow-100 p-2 text-center flex gap-8">
	<div class="text-sm text-red-500">[ {{ .Params.links }} - {{ .Params.number }}]</div>
</div>
<div class="bg-purple-100 p-2 text-center flex gap-8">
<div class="text-sm  text-black-500">
continents:
</div>
	<div class="text-sm  text-black-500">[ {{ .Params.Continents }} ]</div>
<div class="text-sm  text-black-500">
countries:
</div>
	<div class="text-sm  text-black-500">[ {{ .Params.Countries }} ]</div>
<div class="text-sm  text-black-500">
country code:
</div>
	<div class="text-sm  text-black-500">[ {{ .Params.Countrycodes }} ]</div>
</div>
<div class="bg-orange-100 p-2 text-center flex gap-8">
<div class="text-sm  text-black-500">
country by cat:
</div>
	<div class="text-sm text-black-500">[ {{ .Params.unitedstates }} ]</div>
	<div class="text-sm text-black-500">[ {{ .Params.canada }} ]</div>
	<div class="text-sm text-black-500">[ {{ .Params.europe }} ]</div>
	<div class="text-sm text-black-500">[ {{ .Params.world }} ]</div>
</div>
<div class="bg-green-100 p-2 text-center flex gap-8">
<div class="text-sm  text-black-500">
state:
</div>
	<div class="text-sm text-black-500">[ {{ .Params.States }} ]</div>
<div class="text-sm  text-black-500">
county:
</div>
<div class="text-sm text-black-500">[ {{ .Params.county }} ]</div>
<div class="text-sm  text-black-500">
city:
</div>
	<div class="text-sm text-black-500">[ {{ .Params.city }} ]</div>
</div>