<header class="container mt-24 mx-auto px-4 sm:px-6 lg:px-8">
<ul class="bg-yellow-100 flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/">home</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/categories">categories</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/tags">tags</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/categories/bagpipers">bagpipers</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/categories/pipebands">pipebands</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/categories/shops">shops</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/categories/instructors">instructors</a></li>
<!-- <li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/categories/bagpipes">bagpipes</a></li> -->
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/categories/blog">blog</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/categories/history">history</a></li>
</ul>
<ul class="bg-purple-100 flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/bagpipers">ALL LINKS </a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900  uppercase"><a href="/sponsors">sponsors</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900  uppercase"><a href="/continents">continents</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900  uppercase"><a href="/countries">countries</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-red-900 uppercase"><a href="/unitedstates">united states</a></li>
<!-- <li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/states">states</a></li> -->
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/canada">canada</a></li>
<!-- <li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/provinces">provinces</a></li> -->
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/europe">europe</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/world">world</a></li>
</ul>

<ul class="bg-pink-200 flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/bagpipers">bagpipers by</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/american-bagpipers">american</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/european-bagpipers">european</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/canadian-bagpipers">canadian</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/world-bagpipers">world</a></li>
</ul>
<ul class="bg-pink-200 flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/instruments">instruments</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instruments/celtic-fiddle/">celtic fiddle</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instruments/doedelzak">doedelzak</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instruments/french-cornemuse">french cornemuse</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instruments/galician-gaita/">galician gaita</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instruments/great-highland-bagpipes/">great highland bagpipes</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instruments/italian-zampogna/">italian zampogna</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instruments/low-whistle/">low whistle</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instruments/northumbrian-pipes/">northumbrian pipes</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instruments/small-pipes/">small-pipes</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instruments/tin-whistle/">tin whistle</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instruments/tulum/">tulum</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instruments/uilleann-pipes/">uilleann pipes</a></li>
</ul>

<ul class="bg-pink-200 flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/bagpiper-categories">Musicans By - bagpiper cat</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpiper-categories/celtic-fiddle/">celtic fiddle</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpiper-categories/doedelzak">doedelzak</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpiper-categories/french-cornemuse">french cornemuse</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpiper-categories/galician-gaita/">galician gaita</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpiper-categories/great-highland-bagpipes/">great highland bagpipes</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpiper-categories/italian-zampogna/">italian zampogna</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpiper-categories/low-whistle/">low whistle</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpiper-categories/northumbrian-pipes/">northumbrian pipes</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpiper-categories/small-pipes/">small-pipes</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpiper-categories/tin-whistle/">tin whistle</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instruments/tulum/">tulum</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instruments/uilleann-pipes/">uilleann pipes</a></li>
</ul>

<ul class="bg-pink-200 flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/bagpipers">bagpipers </a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/bagpiper-categories">categories </a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpipers/africa/">africa</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpipers/australia/">australia</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpipers/canada/">canada</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpipers/europe/">europe</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpipers/israel/">israel</a></li>
<li class="flx items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpipers/new-zealand/">new zealand</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/bagpipers/united-states/">united states</a></li>
</ul>

<ul class="bg-teal-200 flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/pipebands">pipebands </a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/pipeband-categories">categories </a></li>
</ul>
<ul class="bg-teal-200 flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/pipebands/australia">australia</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/pipebands/canada">canada</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/pipebands/europe">europe</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/pipebands/hong-kong"> hong kong</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/pipebands/japan"> japan</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/pipebands/new-zealand"> new zealand</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/pipebands/singapore"> singapore</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/pipebands/south-africa"> south africa</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/pipebands/south-america"> south america</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/pipebands/united-states"> united states</a></li>
</ul>

<ul class="bg-purple-200 flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/shops">shops </a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/shopping-categories">categories </a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/shops/australia">australia</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/shops/canada">canada</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/shops/europe">europe</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/shops/newzealand">new zealand</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/shops/pakistan">pakistan</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/shops/singapore">singapore</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/shops/united-states"> united states</a></li>
</ul>


<ul class="bg-yellow-200 flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/instructors">instructors </a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-black leading-normal gap-x-2 text-blue-gray-900 uppercase"><a href="/instructor-categories">categories </a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instructors/united-states"> united states</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instructors/canada">canada</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instructors/europe">europe</a></li>
<li class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal gap-x-2 text-blue-gray-900 capitalize"><a href="/instructors/australia">australia</a></li>
</ul>

<ul class="bg-green-400 flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="https://www.todayinceltichistory.com">TICH </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/history-categories">cats </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/today/">Today </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/calendar/">Cal </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/month/">Month </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/dd">dd </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/mm">mm </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/yyyy">yy </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/numberindex">inx </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/month/january">JAN </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/month/february">FEB </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/month/march">MAR </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/month/april">APR </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/month/may">MAY </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/month/june">JUN </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/month/july">JUL </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/month/august">AUG </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/month/september">SEP </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/month/october">OCT </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/month/november">NOV </a></li>
<li class="flex items-center p-1 font-sans text-xs antialiased font-thin leading-normal  text-blue-gray-900 uppercase"><a href="/month/december">DEC </a></li>



</ul>
</header>