<main id="main">

<div class="container bg-green-100 mt-8 mb-24 mx-auto px-4 sm:px-6 lg:px-8">
  {{ partial "breadcrumbs.html" . }}
  {{ partial "pagination.html" . }}
</div>

<div class="grid grid-flow-row sm:grid-flow-col gap-3">
      <div class="sm:col-span-4 flex  border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
          <div class="bg-green-300">
              <h1 class="text-8xl mb-24 text-red-800 font-bold capitalize" id="title">
              {{ .Title  | humanize }}
              </h1>
            {{ range (.Paginate .RegularPagesRecursive).Pages }}
            {{ .Render "summary" }}
            {{ end }}
          </div>
      </div>
      <div class="flex border-2 border-gray-300 rounded-xl p-6 bg-blue-100">
            <div class="bg-yellow-300">
              <h1>SIDEBAR</h1>
              {{ partial "tax_states.html" . }}
             </div>
      </div>
</div>
<div class="container bg-green-100 mt-8 mb-24 mx-auto px-4 sm:px-6 lg:px-8">
  {{ partial "breadcrumbs.html" . }}
  {{ partial "pagination.html" . }}
</div>
</main>